<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food App</title>
</head>
<body>
   
    <header>
        <nav>
            <ul>
                <li><a routerLink="/about-us" style="color:bisque">About Us</a></li>
                <li><a routerLink="/categories" style="color:bisque">Categories</a></li>
                <li><a routerLink="/contact" style="color:bisque">Contact</a></li>
            </ul>
        </nav>
    </header>
    <h1>{{FirstName}}{{LastName}}</h1>                           <!--String Interpolation-->
    <h1 [innerText]="FirstName"></h1>                            <!--property binding-->
    <!--Two way binding-->
  
    <h1>{{name}}</h1>
    
    <br>
    <input type="text"[(ngModel)]="name">
      <!--String interploation-->
    <h1>{{'hai'+" "+'jemi'+" "+'welcome'}}</h1>
    <p>100*80={{100*80}}</p>
    <p>Largest Number:{{getMax(1000,200)}}</p>
    <p style.background="{{color}}">Hello Kittie</p>


    <!--property Binding-->
    <h1 [innerText]="title"></h1>
    <button [disabled]="isdisabled">Click mee...!</button>
                      <!--or-->
    <button [attr.disabled]="isdisabled">Click mee...!</button>
    <p [innerText] = "'welcome'+'to'+'learn'"></p>
    <!--Event Binding-->
    <p> you have clicked {{clickcount}}</p>
    <p>copy of clicked {{clickcount1}}</p>
    <button (click)="clickMe();clickcount1=clickcount">click mee..!</button>

</body>